body{
    background-color: #FFFAB7;
}

h1{
    font-family: "Tilt Neon", sans-serif;
    font-size: 5rem;
    color: #FFD1E3;
    text-align: center;
}

p{
    font-family: "Tilt Neon",sans-serif;
    color: #5BBCFF;
   font-size: 50px;
   
}

.textPlayer{
    margin-top: 100px;
    display: flex;
    gap: 200px;
    justify-content: center;
}
.diceImages{
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 50px;
}


img{
    height: 200px;
    width: 200px;
    }

    .hide{
        visibility: hidden;
    }

.footerMessage{
        color: black;
        text-align: center;

    }

   /* Stiluri pentru ecrane mai mici (smartphone-uri si tablete) */
   @media screen and (max-width: 768px) {
    p{
        font-size: 25px;
    }
    img{
        height: 50px;
        width: 50px;
    }
    h1{
        font-size: 3rem;
    }
    .footerMessage{
        font-size: 15px;
    }
    .diceImages{
        gap: 50px;
    }
    .textPlayer{
        gap: 50px;
    }
       
   }

   /* Stiluri pentru ecrane de dimensiuni medii (laptopuri si monitoare mai mici) */
   @media screen and (min-width: 769px) and (max-width: 1024px) {
        p {
                font-size: 40px;
            }
        
            img {
                height: 150px;
                width: 150px;
            }
        
            h1 {
                font-size: 4rem;
            }
        
            .footerMessage {
                font-size: 25px;
            }
        
            .diceImages {
                gap: 100px;
            }
        
            .textPlayer {
                gap: 100px;
            }
   }

